<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <p>
        Welcome to the BookStore!
    </p>
    <% if (user) { %>
        <p>
            You are logged in as <%= user.username %>
        </p>
        <p>
            Go to your profile: <a href="/profile">Profile</a>
        </p>
    <% } else { %>
        <p>
            You are not logged in.
        </p>
        <p>
            <a href="/login">Login</a>
        </p>
    <% } %>
</body>
</html>